        footer{
            font-family:'Rancho';
        }
        body{
            background-color: beige;
        }
        header > p {
        color: darkgoldenrod;
        font-size: 15px;
        text-align: center;
        
    }
        header > p::first-letter {
            color: black;
        }
        .container-fluid {
         padding: 0;
        }
        
        .container-fluid > h1 {
         text-align: center;
        }
        
        section.strefa_czasowa {
        display: block;
         margin-top: 50px;
         background-color: burlywood;
         color: white;
         margin: 10px;
         padding: 10px;


        }
        section.strefa_czasowa:hover{
            background-color: grey;
        }
        
        #glowny_naglowek {
            font-size: 40px;
            font-family: 'Tangerine';
         color: goldenrod;
        }
      
        /*@media screen and (min-width: 300px) and (max-width: 1200px) {
        section.strefa_czasowa {
         background-color: green;
        }
        }*/
        @media only screen and (max-width: 767px) {
        }
          @media only screen and (min-width: 767px) {
            section.strefa_czasowa{
                width: 25%;
                float: left;
                
                }
                footer{
                    margin-top:200px;
        float: center;}
            }
       
        
